*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section{
  height: 100vh;
  scroll-snap-align: start;
}
.one{
  background-color: aqua;
  background-image: url("./assets/background.png");
}
.container{
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y:scroll;
}
.logo-image{
  margin-top: 3.5%;
  margin-left: 2.8%;
}

.Text{
  margin-top:19%;
  margin-left: 13%;
  font-size: 3rem;
  font-weight: 600;
  color: yellow;
}

.lower-box{
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2); /* Change the background color and opacity as desired */
  width: 95%;
  height: 90%;
  backdrop-filter: blur(10px); 
  border-radius: 10px;
  display: flex;

  align-items: center;
  justify-content: center;
}
.text1{
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1%; 
  height: 100%;
  width: 100%;
}

.camera1{
  background-color: black; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera1 h1{
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 40%;
}
.nav{
  display: flex; 
  flex-wrap: wrap;
}
.heading{
  margin-top: -15%;
  margin-left: 255%;
  font-size: 2.1rem;
  width: 100%;
  font-weight: 600;
  color: yellow;
}